@using OnlineAutomationProject.Models.Siniflar
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px;">

    <tr>
        <th>ID</th>
        <th>DEPARTMAN ADI ADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>DETAYLAR</th>
    </tr>

    @foreach (var d in Model)  
    {
        <tr>
            <td>
                @d.Departmanid 
            </td>
            <td>
                @d.DepartmanAd
            </td>

            <td><a href="/Departman/DepartmanSil/@d.Departmanid" class="btn btn-danger">SİL</a></td>
            <td><a href="/Departman/DepartmanGetir/@d.Departmanid" class="btn btn-success">GÜNCELLE</a></td>
            <td><a href="/Departman/DepartmanDetay/@d.Departmanid" class="btn btn-warning">DETAYLAR</a></td>
        </tr>
    }
</table>
<a href="/Departman/DepartmanEkle" class="btn btn-primary">DEPARTMAN EKLE</a>

